* {
  box-sizing: border-box;
}

header {
  background-image: url(../images/bg__img.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.header_nav {
  padding-top: 30px;
  width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.nav_logo {
  display: flex;
  /* padding-bottom: 10px; */
}

.logo_line {
  width: 1px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 400;
}

.nav_contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_contact-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.nav_contact-number {
  margin-left: 20px;
}

.nav_contact-left {
  display: flex;
  align-items: center;
}

.contact_line-left {
  display: block;
  width: 1px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-right: 20px;
}

.nav_contact-right {
  display: flex;
  align-items: center;
}

.contact_line-right {
  display: block;
  width: 1px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.25);
  margin-left: 20px;
}

.download_btn:focus,
.download_btn:active {
  outline: none;  
  box-shadow: none;  
}

.download_btn {
  position: absolute;
  bottom: 15%;
  left: 8%;
  display: flex;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 7px 30px;
  background-color: #000000;
  border-color: #000000;
  border-style: none;
}

.download_btn svg {
  fill: #ffffff;
  font-family: "Montserrat";
  font-weight: 400;
  height: 19px;
  width: 19px;
  margin-left: 20px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  z-index: 9999;
  animation-name: popup1;
  animation-duration: 0.7s;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  border: 1px solid #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;  
}

.close {
  position: absolute;
  top: 10px;
  right: 0px;
  cursor: pointer;
  color: #ffffff;
  font-size: 35px;
}

.close:hover {
  color: #666;
}

.popup_block-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup_block {
  display: flex;
  width: 915px;
}

.popup_block .popup_list li {
  list-style: none;
  margin-bottom: 10px;
  width: 100%;
}

.popup_block .popup_list li input {
  padding: 15px;
  background: #000;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #ffffff;
}

.popup_block .popup_list li input::-webkit-input-placeholder {
  color: #ffffff;
}

.popup_block .popup_list li input:focus {
  outline: none;
}

.popup_block-right {
  width: 460px;
}

.popup_block button {
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  background: #ffffff;
  margin-top: 30px;
  margin-left: 2rem;
  border-style: none;
  width: 93%;
}

.popup_img-content {
  position: absolute;
  top: 0;
  width: 457px;
  padding: 80px 30px;
}

.content_wrapper {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_wrapper-title {
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 45px;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
  line-height: 45px;
}

.content_wrapper-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

.content_wrapper-contacts {
  display: flex;
  justify-content: center;
}

.content_wrapper-contacts a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.content_wrapper-contacts p {
  margin-bottom: 0;
}

.content_wrapper-contacts p:nth-child(1) {
  margin-right: 30px;
}

.content_wrapper-contacts p span {
  margin-left: 10px;
}

#inform_text-m1 {
  position: absolute;
  top: 23%;
  right: 41%;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  width: 130px;
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
}

#inform_text-m1 span {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  color: #000;
  background: white;
  margin-right: 10px;
  padding: 1px;
  border-radius: 1px;
}

#inform_text-r2 {
  position: absolute;
  top: 70%;
  right: 29%;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  width: 89px;
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
}

#inform_text-r2 span {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  color: #000;
  background: white;
  margin-right: 10px;
  padding: 1px;
  border-radius: 1px;
}

#inform_text-p1 {
  position: absolute;
  top: 53%;
  left: 33%;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  width: 89px;
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
}

#inform_text-p1 span {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  color: #000;
  background: white;
  margin-right: 10px;
  padding: 1px;
  border-radius: 1px;
}

#inform_text-m2 {
  position: absolute;
  top: 55%;
  left: 9%;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  width: 131px;
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 15px;
}

#inform_text-m2 span {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
  color: #000;
  background: white;
  margin-right: 10px;
  padding: 1px;
  border-radius: 1px;
}

/* popup img */
.popup_img {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 9999;
}

.popup_img .close_img svg {
  width: 21px;
  height: 21px;
  fill: #fff;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 7%;
}

.popup_img .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation-name: popup;
  animation-duration: 0.7s;  
}

.popup_img img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

.psv-loader {
  --psv-loader-border: 3px;
  --psv-loader-tickness: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(66, 65, 65, 0.7);
  width: 150px;
  height: 150px;
}

@keyframes popup1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popup {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popup-reverse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.psv-navbar {
  display: none;
}
/*  */
